<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cpiekarski.fourteeners">

    <!-- min/target now configured in Gradle -->

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="true" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".SummitRegister"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activities.AddBagActivity"
            android:label="@string/title_activity_add_a_bag" >
        </activity>
        <!-- New Compose entry activity will replace legacy launcher -->
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_register" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".activities.HikeActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".activities.HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".activities.LicenseActivity"
            android:label="@string/title_activity_license" >
        </activity>
        <activity
            android:name=".activities.LeaveNoTraceActivity"
            android:label="@string/title_activity_leave_no_trace" >
        </activity>
    </application>

</manifest>